body{
    text-align: left;
    margin: 0px;
    padding: 0;
    margin-top: -30px;
    outline: 0px;
    height: 100%;
}

h1{
    font-family: "Rammetto One";
    font-weight: lighter;
}

h2{
    font-family: "Poiret One";
    font-size:50px;
    font-weight: bolder;
    color: rgb(63, 60, 60);
    text-align: center;
}

h3{
    font-family: "Poiret One";
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(63, 60, 60);;
}

p{
    font-size:x-large;
    font-family: "Lato";
    color: rgb(63, 60, 60);
}


.intro{
    text-align: center;
    background-color: #dddddd;
    height: 950px;
}

.intro-pic{
    float: left;
    position: relative;
    left: 200px;
    top: 200px;
}

.intro-content{
    color: #852847;
    position: relative;
    top: 300px;
    font-size: 300%;
}

.my-skills{
    padding: 50px 5px 50px 5px;
    outline: 0px;
    background-color: #f9f3f3;
}

.ml-dl{
    width: 50%;
    padding: 100px;
    position: relative;
    left: 400px;
}

.web-dev{
    width: 50%;
    padding: 100px;
    position: relative;
    left: 400px;
}

.big-data{
    width: 50%;
    padding: 100px;
    position: relative;
    left: 400px;
}

.my-hobbies{
    background-color: #f9f3f3;
    padding: 50px 5px 50px 5px;
}

.reading{
    padding: 100px;
    width: 50%;
    position: relative;
    left: 400px;
    
}

.dancing{
    padding: 100px;
    width: 50%;
    position: relative;
    left: 400px;
}

.yoga{
    position: relative;
    left: 400px;
    width: 50%;
    padding: 100px;
}

.contact{
    padding: 25px 5px 25px 5px;
    background-color: #f7d9d9;
    text-align: center;
}

.images1{
    float: left;
    width: 210px;
    padding: 15px;
}

.images2{
    float: right;
    width: 210px;
    padding: 15px;
}
.links{
    text-align:left;
    font-size:normal;
    font-family: "Lato";
    color: rgb(63, 60, 60);
}